Java 8 Encoding

Java 8 has a new class Called Base64 which allows encoding/decoding, per documentation this uses encoding schemes RFC 4648 and RFC 2045 which is different from sun.misc scheme RFC1521

cob_spec seems to be using RFC1521 for auth.

Should cob_spec keep using RFC1521 or use java's new RFC 4648?

Documentation:
http://www.docjar.com/docs/api/sun/misc/BASE64Encoder.html http://docs.oracle.com/javase/8/docs/api/java/util/Base64.Encoder.html

What are the main differences between these RFCs, and the tradeoffs between keeping what we're doing or updating?

According to this document: http://tools.ietf.org/html/rfc1521

1521 has been obsoleted by RFC 2045